body {
    box-sizing: border-box;
}

.font-14 {
    font-size: 14px;
}

.font-20 {
    font-size: 20px;
}

.line-height-32 {
    line-height: 32px;
}

.line-height-30 {
    line-height: 30px;
}

.line-height-28 {
    line-height: 28px;
}

.line-height-24 {
    line-height: 24px;
}

.img-logo {
    width: 40px;
    height: 38px;
}

.color-5D696D {
    color: #5D696D;
}

button:hover,
.header-acc:hover {
    opacity: 0.5;
    cursor: pointer;
}

.link:hover {
    cursor: pointer;
    text-decoration: underline;
    /* letter-spacing: 5px; */
}


/*== Header ==*/
.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 112px;
    justify-content: space-around;
    align-items: center;
    padding: 0 100px;
}

.header .header-search {
    position: relative;
}

.header .icon-search {
    position: absolute;
    width: 19px;
    height: 19px;
    margin-left: 14px;
    margin-top: 15px;
}

.header #search {
    width: 330px;
    height: 52px;
    border: 1px solid #D8E0E2;
    border-radius: 8px;
    padding-left: 45px;
}

.header .header-acc {
    width: 52px;
    height: 52px;

}

.header .btn-sign {
    width: 107px;
    height: 52px;
    border-radius: 8px;
    background-color: #182327;
    color: #FFFFFF;
}

.header .menu {
    display: none;
}

/* Header Text */
.header-text {
    width: 100%;
    height: 662px;
    background-image: linear-gradient(rgba(2, 181, 234, 1), rgba(2, 181, 234, 0.15));
    overflow: hidden;
    display: flex;
}

.wrapper {
    width: 578px;
    height: 578px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.wrapper>div {
    border-radius: 50%;
    display: inline-block;
    background-color: transparent;
}

.position-center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.circle-inner:nth-child(1) {
    height: 46.99px;
    width: 46.99px;
    border: 18px solid rgba(52, 173, 232, 1);
    position: absolute;
}

.circle-inner:nth-child(2) {
    height: 166.2px;
    width: 166.2px;
    border: 18px solid rgba(52, 173, 232, 1);
    position: absolute;
}

.circle-inner:nth-child(3) {
    height: 345px;
    width: 345px;
    border: 18px solid rgba(52, 173, 232, 1);
    position: absolute;
}

.circle-inner:nth-child(4) {
    height: 420px;
    width: 420px;
    border: 18px solid rgba(52, 173, 232, 1);
    position: absolute;
}

.circle-inner:nth-child(5) {
    height: 500px;
    width: 500px;
    border: 18px solid rgba(52, 173, 232, 1);
    position: absolute;
}

.circle-inner:nth-child(6) {
    height: 578px;
    width: 578px;
    border: 18px solid rgba(52, 173, 232, 1);
    position: absolute;
}

.header-text .header-text-left {
    margin-top: 100px;
    width: 570px;
    height: 444px;
    margin-left: 130px;
}

.header-text-left h1 {
    font-family: Sentient;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    margin-bottom: 30px;
}

.header-text-left img {
    width: 73px;
    height: 54px;
}

.header-text-left button {
    margin-top: 30px;
    width: 152px;
    height: 60px;
    background-color: #182327;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 18px;
}

.header-text .header-text-right {
    position: relative;
}

.header-text .header-text-right>img {
    width: 554px;
    height: 495px;
    position: absolute;
    top: 60px;
    left: 30px;
}

/* Provide content */
.provide {
    margin-top: 140px;
    margin-left: 50px;
    position: relative;
}

.provide::after {
    content: "";
    position: absolute;
    top: 100px;
    right: 0;
    background-image: url("../images/image 20.png");
    width: 333px;
    height: 145px;
}

.provide>h2 {
    width: 570px;
    height: 92px;
    font-family: Sentient;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}

.provide .provide-content {
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}

.provide-content>img {
    width: 570px;
    height: 564px;
}

.provide-content-right {
    width: 470px;
    height: 360px;
    margin-top: 150px;
    margin-right: 60px;
}

.provide-content-right h3 {
    font-size: 22px;
    font-weight: 700;
    font-family: Sentient;
    line-height: 26px;
}

.provide-content-right p {
    margin-top: 10px;
}

.provide-content-right .text-description {
    width: 470px;
    height: 112px;
    text-align: justify;
}

.provide-content-right button {
    width: 146px;
    height: 60px;
    background-color: #182327;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 8px;
    margin-right: 25px;
    margin-top: 20px;
}

.provide-content-right>span>a {
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    color: #182327;
}

/* End Provide content */

/* Best taste product */
.best-taste {
    width: 100%;
    height: 1397px;
    margin-top: 100px;
}

.best-taste-title {
    width: 570px;
    height: 124px;
    text-align: center;
    margin: 0 auto;
}

.best-taste-title>h2 {
    font-size: 42px;
    font-weight: 700;
    font-family: Sentient;
    line-height: 46px;
    margin-bottom: 0;
}

.best-taste-title>p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.best-taste-content {
    margin-top: 60px;

}

.products-top,
.products-bottom {
    display: flex;
    justify-content: space-around;

}

.products-bottom {
    margin-top: 50px;
}

.product {
    width: 370px;
    height: 514px;
    position: relative;
}

.wrapper-product {
    width: 370px;
    height: 330px;
    border-radius: 12px;
    position: relative;
    overflow: hidden;
    margin-top: 70px;
}

.wrapper-product>div {
    border-radius: 50%;
    display: inline-block;
    background-color: transparent;
}

.wrapper-product .position-center {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.circle-inner-1:nth-child(1) {
    height: 80px;
    width: 80px;

    position: absolute;
}

.circle-inner-1:nth-child(2) {
    height: 150px;
    width: 150px;

    position: absolute;
}

.circle-inner-1:nth-child(3) {
    height: 220px;
    width: 220px;

    position: absolute;
}

.circle-inner-1:nth-child(4) {
    height: 279px;
    width: 279px;

    position: absolute;
}

.circle-inner-1:nth-child(5) {
    height: 339px;
    width: 339px;

    position: absolute;
}

.product-bg1 {
    background-color: #F8FFE3;
}

.product-bg2 {
    background-color: #FFE3E4;
}

.product-bg3 {
    background-color: #FFFBD6;
}

.product-bg4 {
    background-color: #FFEFE3;
}

.product-bg5 {
    background-color: #DDF6FF;
}

.product-bg6 {
    background-color: #E3FFF3;
}

.circle-inner-0 {
    border: 12px solid #E5F2C0;
}

.circle-inner-2 {
    border: 12px solid #FFD4D6;
}

.circle-inner-3 {
    border: 12px solid #F4F0C2;
}

.circle-inner-4 {
    border: 12px solid #FADFCB;
}

.circle-inner-5 {
    border: 12px solid #C6EAF8;
}

.circle-inner-6 {
    border: 12px solid #CAF5E3;
}

.product .img-product {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.product .img-cart {
    width: 55px;
    height: 55px;
    position: absolute;
    right: 20px;
    bottom: 82px;
    border-radius: 10px;
}

.font-22 {
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 0;
}

.height-330 {
    height: 330px;
}

.product .product-des {
    padding-top: 20px;
}

.product .product-des>button {
    background-color: #FFFFFF;
    display: block;
    border: none;
    padding-left: 0;
    padding-bottom: 5px;
}

.best-taste>button {
    width: 152px;
    height: 60px;
    display: block;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    background-color: #182327;
    color: #FFFFFF;
    margin: 50px auto;
}

/* End best taste product */

/*== Video ==*/
.video {
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
    width: 100%;
    height: 660px;
    margin-bottom: 100px;
}

.video .pt-20 {
    padding-top: 20px;
}

.card-left {
    position: relative;
}

.card-left::after {
    content: "Our Popular Crisps";
    position: absolute;
    top: -10px;
    left: 750px;
    font-size: 42px;
    font-weight: 700;
    font-family: Sentient;
    line-height: 46px;
    width: 570px;
    height: 46px;
}

.video .card-left>img {
    width: 570px;
    height: 564px;

}

.video a {
    display: flex;
    text-decoration: none;
}

.video a>img {
    width: 28px;
    height: 28px;
    margin-top: 18px;
    margin-right: 10px;
}

.video p {
    width: 75px;
    height: 28px;
    margin-top: 18px;
}

.card-right {
    margin-top: 110px;
}

.card-right .card-right-product>img {
    width: 570px;
    height: 454px;
}

.video-responsive {
    display: none;
}

/*== End Video ==*/

/*== SLIDER ==*/
#demo {
    background-color: #80E2FF;
}

.carousel-item {
    width: 100%;
    height: 752px;
}

.slider {
    display: flex;
    margin-top: 120px;
    justify-content: space-around;
}

.slider-content {
    width: 570px;
    height: 440px;
    margin-top: 100px;
}

.slider-content>h2 {
    font-size: 42px;
    line-height: 46px;
    font-weight: 700;
}

.slider .slider-des {
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    margin-top: 70px;
}

.border-bottom {
    width: 570px;
    height: 2px;
    margin-top: 40px;
}

.slider-content>h3 {
    margin-top: 30px;
    font-size: 22px;
    line-height: 32px;
    font-weight: 600;
}


.slider .slider-old {
    font-weight: 400;
}

.carousel-control-prev,
.carousel-control-next {
    margin: 0 0 100px 520px;

}

.carousel-control-next-icon {
    background-image: url("../images/next.png") !important;
    width: 48px !important;
    height: 48px !important;
}

.carousel-control-prev-icon {
    background-image: url("../images/prev.png") !important;
    width: 48px !important;
    height: 48px !important;
}

.carousel-control-next {

    top: 80% !important;
    left: 60px !important;
    /* width: 57% !important; */
}

.carousel-control-prev {
    top: 80% !important;
    /* width: 57% !important; */
}

.slide a {
    width: 50px !important;
}

/*== End Slider ==*/


/*== Find content ==*/
.find {
    position: relative;
}

.find-background {
    height: 468px;
    background-image: url("/images/image 20.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.find-content {
    position: absolute;
    height: 468px;
    background-color: rgba(255, 211, 106, 1);
    width: 100%;
    /* filter: blur(1px); */
    opacity: 0.85;
    top: 0;
    text-align: center;
}

.find-content>h2 {
    margin-top: 100px;
    font-family: Sentient;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
}

.find-content>p {
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;
}

.find-content>button {
    width: 159px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #182327;
    color: #FFF;
    margin-top: 20px;
    font-family: Manrope;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
}


/*== Find content ==*/

.footer {
    display: flex;
    flex-direction: row;
    background-color: #FFF7E3;
}

.footer .footer-left {
    width: 513px;
    height: 248px;
    margin: 200px 50px 0 100px;
}

.footer-left .navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-left .social img {
    padding-right: 10px;
    margin-bottom: 15px;
}

.footer .footer-right img {
    width: 570px;
    height: 484px;
    margin: 100px 100px 50px 0;
}


@media screen and (max-width: 740px) {

    .display-none {
        display: none;
    }

    .header {
        width: 339px;
        height: 38px;
        justify-content: space-between;
        padding: 0;
        align-items: center;
        margin-left: 15px;
    }

    .header #img-logo {
        padding-top: 0px;
    }

    .header .menu {
        display: block;
        width: 18px;
        height: 16px;
        margin-top: 10px;
        margin-right: 0px;
    }

    .header-text {
        width: 375px;
        height: 795px;
        flex-direction: column-reverse;
    }

    .wrapper {
        top: 20px;
        width: 375px;
        height: 375px;
    }

    .circle-inner:nth-child(1) {
        height: 87.72px;
        width: 87.72px;
        border: 12px solid rgba(52, 173, 232, 1);
        position: absolute;
    }

    .circle-inner:nth-child(2) {
        height: 145.18px;
        width: 145.18px;
        border: 12px solid rgba(52, 173, 232, 1);
        position: absolute;
    }

    .circle-inner:nth-child(3) {
        height: 202.63px;
        width: 202.63px;
        border: 12px solid rgba(52, 173, 232, 1);
        position: absolute;
    }

    .circle-inner:nth-child(4) {
        height: 260.09px;
        width: 260.09px;
        border: 12px solid rgba(52, 173, 232, 1);
        position: absolute;
    }

    .circle-inner:nth-child(5) {
        height: 317.54px;
        width: 317.54px;
        border: 12px solid rgba(52, 173, 232, 1);
        position: absolute;
    }

    .circle-inner:nth-child(6) {
        height: 375px;
        width: 375px;
        border: 12px solid rgba(52, 173, 232, 1);
        position: absolute;
    }

    .header-text .header-text-left {
        margin-left: 20px;
    }

    .header-text .header-text-right>img {
        width: 339px;
        height: 301px;
        top: 60px;
        left: 30px;
    }

    .header-text-left h1 {
        width: 339px;
        height: 138px;
        font-size: 40px;
        line-height: 46px;
    }

    .header-text-left p {
        width: 339px;
        height: 72px;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 10px;
    }

    .header-text-left button {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    /*== End Header With MB ==*/

    /*== Provide MB ==*/
    .provide {
        width: 357px;
        height: 829px;
        margin-left: 0;
        padding: 18px;
    }

    .provide .provide-content {
        flex-direction: column;
    }

    .provide-content>img {
        width: 338px;
        height: 335px;
    }

    .provide>h2 {
        width: 339px;
        height: 60px;
        font-size: 26px;
        line-height: 30px;
    }

    .provide-content-right {
        width: 357px;
        margin-top: 40px;
        margin-right: 0;
    }

    .provide-content-right .text-description {
        font-size: 14px;
        width: 339px;
        height: 120px;
        line-height: 24px;
    }

    .provide::after {
        width: 75px;
        height: 33px;
        top: 65px;
        background-size: cover;
    }

    /*== End Provide MB ==*/

    /*== Best Taste MB ==*/
    .best-taste {
        width: 339px;
        height: 3344px;
        margin-top: 150px;
        padding: 18px;
    }

    .best-taste-title {
        width: 339px;
    }

    .best-taste-title>h2 {
        width: 339px;
        height: 30px;
        font-size: 26px;
        line-height: 30px;
        text-align: center;
    }

    .best-taste-title>p {
        width: 339px;
        height: 72px;
        font-size: 14px;
        line-height: 24px;
        font-family: Manrope;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .product {
        width: 339px;
    }

    .products-top,
    .products-bottom {
        flex-direction: column;
    }

    .wrapper-product {
        width: 339px;
        height: 302px;
    }

    .product .img-cart {
        right: 30px;
        bottom: 110px;
    }

    .best-taste>button {
        margin: 20px auto;
    }

    /*== End Best Taste MB ==*/

    /*== Video MB ==*/
    .video {
        margin-top: 650px;
        flex-direction: column;
        padding: 15px;
        display: none;
    }

    .video-responsive {
        display: block;
        position: relative;
        top: 200px;
        width: 339px;
        height: 556px;
        padding: 18px;
        /* margin-bottom: 500px; */
    }

    .video-title::before {
        content: "Our Popular Crisps";
        position: absolute;
         top: -50px;
        /*left: 750px; */
        /* bottom: 50px; */
        font-size: 26px;
        font-weight: 700;
        font-family: Sentient;
        line-height: 30px;
        /* width: 570px;
        height: 46px; */
    }

    .video-responsive .popular-product {
        width: 339px;
        height: 335px;
    }

    .carousel-indicators {
        bottom: 250px !important;
    }

    .carousel-indicators li {
        background-color: #333 !important;
        height: 5px !important;
        border-radius: 5px !important;
    }

    .video-responsive p {
        display: inline-block;
        margin-top: 10px;
    }

    .card-right {
        margin-top: 0;
    }
    /*== End Video MB ==*/


    /*== Slider With MB */
    #demo {
        margin-top: 200px;
        width: 375px;
        height: 932px;

        padding: 18px;
    }

    .slider {
        flex-direction: column-reverse;
    }

    .slider .slider-img {
        margin-top: -90px;
    }

    .slider .slider-img img{
        width: 339px !important;
        height: 396px !important;
        top: 0;
    }

    .slide .slider-content {
        width: 339px;
        height: 312px;
        margin-top: 40px;
    }

    .slide .slider-content h2 {
        font-size: 26px;
        line-height: 30px;
    }

    .slide .slider-content .slider-des {
        font-size: 14px;
        line-height: 24px;
        font-family: Inter;
        font-style: italic;
        margin-top: 0;
    }

    .slide .slider-content .border-bottom {
        width: 100%;
        margin-top: 20px;
    }

    .slider-content>h3 {
        margin-top: 20px;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-left: 18px;
    }

    .carousel-item {
        margin-right: 0 !important;
    }

    /*== End Slider With MB */

    /*== Find With MB ==*/
    .find {
        height: 342px;
    }

    .find-background {
        height: 100%;
    }

    .find-content {
        height: 100%;
    }

    .find-content>h2 {
        font-size: 26px;
        line-height: 30px;
        margin-top: 50px;
        
    }

    .find-content>p {
        font-size: 14px;
        line-height: 24px;
    }

    /*== End Find With MB ==*/


    /*== Footer ==*/
    .footer {
        flex-direction: column-reverse;
        width: 375px;
        padding-bottom: 200px;
    }

    .footer .footer-right img {
        width: 339px;
        height: 287.85px;
        margin: 50px 0 0 18px;
        /* padding: 18px; */
    }

    .footer .footer-left {
        margin: 0;
        padding: 18px;
        width: 375px;
    }

    .footer-left .navigation {
        flex-direction: column;
    }

    .margin-8 {
        margin: 8px 0 8px 0;
    }

    .width-fit {
        width: fit-content;
    }

}